button{
  -webkit-appearance: none;
  font-size: 30px;
  margin: 0;
  margin-bottom: 5px;
  border: 1px solid black;
  background-color: white;
  width: 32%;
}

#display {
  display: block;
  width: 100%;
  font-size: 30px;
  margin-bottom: 15px;
  background-color: white;
  height: 30px;
  border: 1px solid black;
}

.calculator {
  background-color: grey;
  width: 400px;
  border: 2px solid black;
  padding: 10px;
}

.buttons {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
